.btn {
    outline: none;
    box-shadow: none;
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    padding: 8px;
  }
  
  .btn-primary {
    color: rgb(18, 27, 26);
    border-color: rgb(18, 27, 26);
    background-color: transparent;
    
  }
  .btn-primary:hover {
    background-color: rgb(184, 178, 178);
    border: 2px solid rgb(18, 27, 26);
    cursor: pointer;
    }
input {
    width: 80%;
    border: none;
    border-top: 2px solid rgb(248, 248, 248);
    border-bottom: 2px solid rgb(248, 248, 248);
    margin-right: 10px;
    padding: 5px;
    line-height: 17px;
  }
  
  input:focus {
    outline: none;
    border: none;
    border-top: 2px solid rgb(18, 27, 26);
    border-bottom: 2px solid rgb(18, 27, 26);
  }